.owner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

button{
    font-size: 2.3vh;
}

#name,#location{
    width: 20%;
    height: 10%;
    vertical-align: middle;
}


.cuisine-inputs>*{
    margin: 2vh;
}

.margin-between>div,.margin-between>button{
    margin: 4vh;
}

.add-button{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}

.add-button:hover{
    cursor: pointer;
}

.posted{
    font-size: 3vh;
}