.app-name{
    font-size: 5vh;
    background-color: black;
    color: white;
    margin-top: 0;
    padding: 5px;
}

.flex-class{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.restaurants-list{
    height: 17vh;
    padding: 1.5vh;
    padding-bottom: 0.5vh;
    margin: 4px;
    background-color: rgb(107, 53, 194);
    color: white;
}

input,select{
    font-size: 3vh;
    border-radius: 4px;
}

.search>*{
    margin:4px;
}

.restaurants-list>h2{
    margin: 0;
}

.restaurants-list:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition-duration: 1s;
}

.border{
    border: 1px solid black;
    border-radius: 7px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.border>div{
    margin: 8px;
}
.details{
    border: 2px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 80vh;
}

.details{
    color: rgb(129, 40, 7);
    background-color: springgreen;
}

.details>h2{
    font-size: xx-large;
}
.details>div{
    margin: 6vh;
    font-size: larger;
    border: 1px solid rgb(29, 17, 17);
    border-radius: 4px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.details>div>*{
    margin: 1vh;
}

.cuisine-details>div{
    border: 1px solid gray;
    border-radius: 4px;
    width: 28%;
}
.menu-details>div{
    border: 1px solid gray;
    border-radius: 4px;
}

.user-page>div{
    font-size: 5vh;
    margin: 1vh;
    border: 2px solid black;
    border-radius: 8px;
    width: 40%;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.user-page>div:hover{
    background-color: lightgray;
    cursor: pointer;
}
.user-page{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 10%;
}